In [6]:
import pandas as pd
vcf = pd.read_pickle("vcf_select.pkl")
c = pd.read_csv("clinical.csv").drop("Unnamed: 0", axis=1).rename(columns={"PTID":"subject"})
img = pd.read_pickle('meta_allcsv.pkl')[["img_array", "subject", "label"]]

In [7]:
vcf.head()

,subject,GROUP,2103348,2103370,2103386,2103412,2103500,2103566,2103625,2103655,...,2039545,2039631,2039677,2039682,2039692,2039702,2039719,2039729,2039739,133222
0,011_S_0002,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
1,011_S_0008,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,100_S_0015,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,023_S_0031,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,011_S_0021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
c.head()

,subject,RID,Phase,Group,PTGENDER_-4.0,PTGENDER_1.0,PTGENDER_2.0,PTHOME_-4.0,PTHOME_1.0,PTHOME_2.0,...,PTRACCAT,AGE,PTADDX,PTETHCAT,PTCOGBEG,PHC_VSP,PHC_LAN,PTWORK,PTWRECNT,CMMED
0,011_S_0003,3,ADNI1,2.0,0,1,0,0,0,0,...,5.0,82.3655,-4.0,2.0,-4.0,0.128,-0.828,221.0,274.0,3370.0
1,011_S_0003,3,ADNI1,2.0,0,1,0,0,0,0,...,5.0,82.3655,-4.0,2.0,-4.0,0.128,-0.828,221.0,274.0,2238.0
2,011_S_0003,3,ADNI1,2.0,0,1,0,0,0,0,...,5.0,82.3655,-4.0,2.0,-4.0,0.128,-0.828,221.0,274.0,720.0
3,011_S_0003,3,ADNI1,2.0,0,1,0,0,0,0,...,5.0,82.3655,-4.0,2.0,-4.0,0.128,-0.828,221.0,274.0,3700.0
4,011_S_0003,3,ADNI1,2.0,0,1,0,0,0,0,...,5.0,82.3655,-4.0,2.0,-4.0,0.128,-0.828,221.0,274.0,4083.0

In [9]:
c = c.rename(columns = {"Group":"GROUP"})

In [10]:
a = vcf.merge(c, on = ["subject", "GROUP"]).merge(img, on = "subject")

In [11]:
a["subject"].value_counts()

027_S_0120    2160
014_S_0169    2142
116_S_4483    2040
027_S_1045    1880
116_S_0382    1824
              ...
036_S_4491      40
016_S_4353      40
070_S_4692      32
116_S_4209      24
052_S_1250      24
Name: subject, Length: 239, dtype: int64

In [12]:
a["GROUP"].value_counts()

0    103584
1     26833
2     13415
Name: GROUP, dtype: int64

In [13]:
a["GROUP"].value_counts()

0    103584
1     26833
2     13415
Name: GROUP, dtype: int64

In [14]:
cols = list(set(a.columns) - set(["PTID","subject", "label", "GROUP",
                                  "RID", "ID", "Group", "Phase", "SITEID", "VISCODE", "VISCODE2", "USERDATE", "USERDATE2", "update_stamp", "DX", "Unnamed: 0"]))

In [15]:
X= a[cols]
y = a["GROUP"]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, stratify=y)

In [17]:
snp_cols = set(X_train.columns).intersection(set(vcf.columns))

In [ ]:
X_train_snp = X_train[snp_cols]
X_test_snp = X_test[snp_cols]

In [22]:
img_cols = set(X_train.columns).intersection(set(img.columns))
print(len(img.columns))
print(len(img_cols))
X_train_img = X_train[img_cols]
X_test_img = X_test[img_cols]

3
1

/var/folders/z8/84l73v2d6jb2m3fzdf560ft80000gq/T/ipykernel_99587/1154895174.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  X_train_img = X_train[img_cols]
/var/folders/z8/84l73v2d6jb2m3fzdf560ft80000gq/T/ipykernel_99587/1154895174.py:5: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  X_test_img = X_test[img_cols]

In [ ]:
clin_cols = set(X_train.columns).intersection(set(c.columns))
print(len(c.columns))
print(len(clin_cols))
X_train_clin = X_train[clin_cols]
X_test_clin = X_test[clin_cols]

In [25]:
pd.DataFrame(X_train_snp).to_pickle("X_train_snp1.pkl")
pd.DataFrame(X_test_snp).to_pickle("X_test_snp1.pkl")
pd.DataFrame(y_train).to_pickle("y_train1.pkl")
pd.DataFrame(y_test).to_pickle("y_test1.pkl")

pd.DataFrame(X_train_clin).to_pickle("X_train_clinical1.pkl")
pd.DataFrame(X_test_clin).to_pickle("X_test_clinical1.pkl")

pd.DataFrame(X_train_img).to_pickle("X_train_img1.pkl")
pd.DataFrame(X_test_img).to_pickle("X_test_img1.pkl")

---------------------------------------------------------------------------------------------------------